<h1>NAMMA EV STORE</h1>
<h3>Dear {{name}}</h3>
<table border="1">
    <tr>
        <td>Phone</td>
        <td>{{phone}}</td>
    </tr>
     <tr>
        <td>Brand</td>
        <td>{{brand}}</td>
    </tr>
     <tr>
        <td>Modelname</td>
        <td>{{modelname}}</td>
    </tr>
    <tr>
        <td>Amount Paid</td>
        <td>{{amountpaid}}</td>
    </tr>
    <tr>
        <td>Paid On</td>
        <td>{{paiddate}}</td>
    </tr>
    <tr>
        <td>Balance</td>
        <td>{{balance}}</td>
    </tr>
    <tr>
        <td>Service 1</td>
        <td>{{service1}}</td>
    </tr>
    <tr>
        <td>Service 2</td>
        <td>{{service2}}</td>
    </tr>
    <tr>
        <td>Service 3</td>
        <td>{{service3}}</td>
    </tr>
</table>