{% extends 'evapp/cheader.html' %}
{% block content %}
<br>
<p style="font-size:60px;color: #C34A2C">Get in touch </p><br>
<p style="font-size:20px;">Want to know more about your scooters or want to join our dealer network? <br>
    Reach us over e-mail at <a href="mailto:Info@yaveeventures.com/">Info@yaveeventures.com</a><br>
    or Phone/Whatsapp at <a href="https://wa.me/918088439511? text=Hi " >+918088439511</a></p>
<br>
<br>
<p style="font-size:20px;"><a href="#showroom">Showroom Address </a><br>
Namma EV Store<br>
    Heggannavar Complex Bus Stand Road Gokak-591307<br>

Contact details: 9035236343,8088439511<br>

Landline:<br>
08332-227128<br>
<br>
<br>
<a href="#office">Office Address</a><br>
Yavee Ventures Pvt Ltd<br>
RS No.212/1K,Plot No.13, Swarnashree Building, Near Kumar Industries, Bombay Chawl, Gokak 591307<br>

Email: yaveeventures@gmail.com</p>

{% endblock %}

