{% extends 'evapp/cheader.html' %}
{% block content %}
<script type="text/javascript">
  function validate()
  {
    var passwordpattern=/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{5,10}$/;
	var password=document.getElementById("textnewpassword").value;
	if(password.search(passwordpattern)==-1)
	{
	  alert("Password must contain at least 1 lower, 1 upper, 1 digit, 1 special character");
	  return false;
	}
  }

</script>

<div style="margin:auto; width: 50%; padding: 10px; ">
<h1>CUSTOMER PASSWORD FORM</h1>
<form method="POST" action="/evapp/customerchangepassword/">
     <h2>Change Password</h2>


    {% csrf_token %}
    <table class="table">
        <tr>
            <td>Current Password</td>
            <td><input type="password" name="textcurrentpassword" id="textcurrentpassword" required  /></td>

        <tr>
            <td>New Password</td>
            <td><input type="password" name="textnewpassword" id="textnewpassword" required  /></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="textconfirmpassword" id="textconfirmpassword" required  /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Change password"></td>
        </tr>
    </table>
</form>
</div>
{% endblock %}
