<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Header</title>
    {% load static %}
        <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-klassy-cafe.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<style>
    .s{
    position: fixed;
    margin-top:90px;
    right: 0;
    top: 0;


    }
</style>
</head>
<body>

<!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                           <img src="{% static 'assets/evstore.png' %}"  width="100px" align=" ">

                        </a>

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/evapp/customerhome/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/evapp/browsevehicle/" class="active">Browse Vehicle</a></li>

                        <!--
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                               <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->

                            <li class="submenu">
                                <a href="javascript:;">View</a>
                                <ul>

                                    <li><a href="/evapp/viewallquotationform/">View All Quotation</a></li>
                                    <li><a href="/evapp/customerpayment/">View Payment</a></li>









                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="/evapp/customerchangepasswordform">Change Password</a></li>
                            <li class="scroll-to-section"><a href="/evapp/customerlogout/">LOG OUT</a></li>


                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="/evapp/contactus/">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="{% static 'images/slide-01.jpg' %}" alt=""  width="800px">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="{% static 'images/slide-02.jpg' %}" alt=""  width="800px">
                            </div>
                          </div>
                          <!-- // Item -->
                          <!-- Item -->
                          <div class="item">
                            <div class="img-fill">
                                <img src="{% static 'images/slide-03.jpg' %}" alt=""  width="800px">
                            </div>
                          </div>
                          <!-- // Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


<!-- ***** Main Banner Area End ***** -->
  <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <p style="font-size:90px; color: #C34A2C",>ABOUT US</p></br>

                            <p style="font-size:40px; color: #123456",>NAMMA EV STORE</p>
                        </div>
                        <p style="font-size:20px" >Namma EV Store offers a wide range of electric scooters that are manufactured in India
                            and drive our community towards sustainability with comfort and style.</p></br>

                        <p style="font-size:40px; color: #123456",>Our Network</p>
                        <p style="font-size:20px" >We have a growing network of dealers bringing Newtron closer to your home.
                            Experience our scooters or walk out with a new one at one of our dealers near you.</p>

                        <p style="font-size:40px; color: #123456",>Easy Replacement</p></br>
                        <p style="font-size:20px" >Parts and accessories are available easily as we stock most of the parts locally.
                            Our users do not have to fret about damages or when it comes to adding a new accessory</p>

                        <p style="font-size:40px; color: #123456",>Low maintenance</p>
                        <p style="font-size:20px" >Our scooters require hardly any maintenance due to the advance design and simple machinery.
                            Easy to maintain and easy on pocket too</p>

                        <div class="row">
                            <div class="col-4">
                                <img src="assets/images/about-thumb-01.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="assets/images/about-thumb-02.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="assets/images/about-thumb-03.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/6IPnTPPKppA" title="YouTube video player"
                                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                                     picture-in-picture" allowfullscreen></iframe>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/N6NdfoyyPYg" title="YouTube video player"
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                                picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->
<div class="s">
    <a href="/evapp/chatbot/"><img src="{% static '/images/chatbot.png' %}" height="100px" width="100px"/> </a>

</div>
<!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/yaveeventures/"><i class="fa fa-facebook"></i></a></li>


                                <li><a href="https://www.instagram.com/yaveeventures/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="assets/images/white-logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright 2019 NAMMA EV
                            <br>Yavee Ventures Pvt Ltd
                        <br>Email: yaveeventures@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>



{% block content %}
{% endblock %}
</body>
</html>

