{% include 'evapp/loginheader.html' %}
<div style="margin:auto; width: 70%; padding: 200px; ">
    <h4><p class="p-3 mb-2 bg-primary text-white">Forgot Password?</p></h4>



<form method="POST" action="/evapp/forgotpassword/">
    {% csrf_token %}

    <table class="table">
        <tr>
        <td>EmailID</td>
            <td><input type="emailid" name="textemailid" required autofocus/></td>
        </tr>


        <tr>
            <td colspan="2"><input class="btn btn-primary" type="submit"/></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/evapp/forgotpassword"> Forgot Password</a> </td>
        </tr>
    </table>
</form>
</div>

