{% extends 'evapp/header.html' %}
{% block content %}

<h1>VIEW BOOKING LIST</h1>
    {% if count > 0 %}
<table class="table">
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Color ID</td>
        <td>Color</td>
        <td>Booking ID</td>
        <td>Booking Date</td>
        <td>Delivery Type</td>
        <td>Delivery Date</td>
        <td>Advance Paid</td>
        <td>Balance</td>
        <td>Quotation Number</td>
        <td>Status</td>
        <td>Delivery Form</td>
    </tr>
{% for item in bookingobj %}
    <tr>
        <td>{{item.customercode}}</td>
        <td>{{item.name}}</td>
        <td>{{item.colorid}}</td>
        <td>{{item.color}}</td>
        <td>{{item.bookingid}}</td>
        <td>{{item.bookingdate}}</td>
        <td>{{item.deliverytype}}</td>
        <td>{{item.deliverydate}}</td>
        <td>{{item.advancepaid}}</td>
        <td>{{item.balance}}</td>
        <td>{{item.quotationnumber.quotationnumber}}</td>
        <td>{{item.status}}</td>
        <td><a href="/evapp/admindeliveryform/{{item.bookingid}}/">Delivery</a><br/></td>

    </tr>
{% endfor %}
</table>
     {% else %}
        <h3>No Bookings data found</h3>
    {% endif %}

{% endblock %}



